/* Choix des fonts:
font-family: 'Cabin Sketch', cursive;
font-family: 'Eczar', serif;
font-family: 'Brawler', serif; 
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Martel', serif;
*/

/* CE CODE EST A SA VERSION 1.0, JE VAIS LE RETRAVAILLER EN MODE SASS PROCHAINEMENT */
/* Logo SVG Animation + Css */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: vanish 4s ease forwards 6s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 1295.451171875px;
  stroke-dashoffset: 1295.451171875px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 1816.4046630859375px;
  stroke-dashoffset: 1816.4046630859375px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 1816.406005859375px;
  stroke-dashoffset: 1816.406005859375px;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 1115.4266357421875px;
  stroke-dashoffset: 1115.4266357421875px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 1150.325927734375px;
  stroke-dashoffset: 1150.325927734375px;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 1155.228271484375px;
  stroke-dashoffset: 1155.228271484375px;
  animation: line-anim 2s ease forwards 2s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 1174.874267578125px;
  stroke-dashoffset: 1174.874267578125px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 753.6519775390625px;
  stroke-dashoffset: 753.6519775390625px;
  animation: line-anim 2s ease forwards 2.8s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 1633.7017822265625px;
  stroke-dashoffset: 1633.7017822265625px;
  animation: line-anim 2s ease forwards 3.2s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 1496.080810546875px;
  stroke-dashoffset: 1496.080810546875px;
  animation: line-anim 2s ease forwards 3.6s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 1494.249267578125px;
  stroke-dashoffset: 1494.249267578125px;
  animation: line-anim 2s ease forwards 4s;
}
#logo path:nth-child(12) {
  stroke-dasharray: 1520.1102294921875px;
  stroke-dashoffset: 1520.1102294921875px;
  animation: line-anim 2s ease forwards 4.4s;
}
#logo path:nth-child(13) {
  stroke-dasharray: 1496.082275390625px;
  stroke-dashoffset: 1496.082275390625px;
  animation: line-anim 2s ease forwards 4.8s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 1596.119873046875px;
  stroke-dashoffset: 1596.119873046875px;
  animation: line-anim 2s ease forwards 5.2s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 1295.4539794921875px;
  stroke-dashoffset: 1295.4539794921875px;
  animation: line-anim 2s ease forwards 5.6s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 1295.451171875px;
  stroke-dashoffset: 1295.451171875px;
  animation: line-anim 2s ease forwards 6s;
}

/*******************************/
/*       CSS PRINCIPAL         */
/*******************************/

/* reset des espaces internes et externes de tous les éléments et confinement ;) des contenus à leurs élements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pour plus de facilités de calculs des fonts et utilisation du rem au lieu dex px et em. 10px = 1rem */
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dfd8d0;
}

/* this is to remove the scrollbar */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/******************/
/*     HEADER     */
/******************/
header {
  font-size: 3rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

#name {
  flex: 1 1;
  font-family: "Cabin Sketch";
  color: #343434;
  font-size: 5rem;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation {
  flex: 1 1;
  /* background-color: darksalmon; */
}

/* Barre de navigation */
.nav-list {
  font-family: "Cabin Sketch";
  list-style: none;
  /* background-color: tomato; */
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* liens de navigation */
.nav-link {
  text-decoration: none;
  color: #343434;
}

.nav-link:hover {
  color: #0a0a0a;
  transition: ease 0.5s;
}

.nav-list-link:hover {
  transform: scale(1.4);
  transition: ease-in-out 0.6s;
}

/******************/
/*      MAIN      */
/******************/
main {
  height: 85vh;
  display: flex;
}

/*******************************/
/*      FENETRE DE GAUCHE      */
/*******************************/
#left-side {
  flex: 1 1 51.25rem;
  width: 50vw;
  /* background-color: teal; */
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: appear 6s ease forwards 8s;
  border-right: 1px solid #343434;
}

#mainPhoto {
  width: 90%;
  background-color: #b0d1a7 (134, 134);
}

/* Dimensionnement vidéo MP4 (non actif pour l'instant)*/
/* #mp4 {
  position: absolute;
  width: 100%;
  height: 85vh;
  display: none;
} */

/*******************************/
/*      FENETRE DE DROITE      */
/*******************************/
#site-main {
  flex: 1 1 51.25rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* background-color: thistle; */
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

#section-title {
  font-family: "Martel", serif;
  font-size: 3.5rem;
  color: #343434;
  text-align: center;
  /* background-color: darkgoldenrod; */
}

#textes {
  font-family: "Martel", serif;
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0rem 4rem;
}

/* this is to remove the scrollbar */
#textes::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.subtitles {
  font-family: "Jacques Francois Shadow", cursive;
  text-decoration: underline;
  text-align: center;
  font-size: 2rem;
  /* background-color: crimson; */
}

.paragraphes {
  margin: 5px 5px 30px 5px;
  font-size: calc(1rem + 0.5vw);
}

/* Structure de la partie Portfolio */
#lecoMusik,
#emmanuelDev,
#emmanuelDevWordpress,
#lithoxoou {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#lecoCapture,
#emmanuelDevCapture,
#emmanuelDevWordpressCapture,
#lithoxoouCapture,
#emmanuelDevBio,
#emmanuelDevWordpressBio,
#lithoxoouBio,
#lecoBio {
  flex: 1 1 30rem;
  font-family: "Martel", serif;
  padding: 5px;
  text-align: center;
}

#lastMix {
  /* background: cornflowerblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioPictures {
  width: 100%;
}

/******************/
/*     FOOTER     */
/******************/
footer {
  min-height: 5vh;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

#socialNetworks {
  /* background-color: rgb(126, 37, 37); */
  width: 50%;
  padding: 0.5rem 0rem;
}

#socialNetworks > ul {
  /* background-color: chartreuse; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.socialIcons {
  width: 50px;
  height: auto;
  text-align: center;
}

#copyright {
  /* background-color: chocolate; */
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: calc(1rem + 0.3vw);
}

/******************/
/* Animations CSS */
/******************/

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "./tablets";
@import "./mobilephones";
