/* Choix des fonts:
font-family: 'Cabin Sketch', cursive;
font-family: 'Eczar', serif;
font-family: 'Brawler', serif; 
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Martel', serif;
*/

/* CE CODE EST A SA VERSION 1.0, JE VAIS LE RETRAVAILLER EN MODE SASS PROCHAINEMENT */
@import "./reset";
@import "./animations";
@import "./body";
@import "./header";
@import "./main";
@import "./footer";
/* ATTENTION LES MEDIA QUERIES DOIVENT ETRE EN FIN SINON RISQUE DE CREER CONFLITS AVEC LE RESPONSIVE*/
@import "./tablets";
@import "./mobilephones";
