/* Choix des fonts:
font-family: 'Cabin Sketch', cursive;
font-family: 'Eczar', serif;
font-family: 'Brawler', serif; 
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Martel', serif;
*/

/* CE CODE EST A SA VERSION 1.0, JE VAIS LE RETRAVAILLER EN MODE SASS PROCHAINEMENT */
/* Logo SVG Animation + Css */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: vanish 4s ease forwards 6s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 1295.451171875px;
  stroke-dashoffset: 1295.451171875px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 1816.4046630859375px;
  stroke-dashoffset: 1816.4046630859375px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 1816.406005859375px;
  stroke-dashoffset: 1816.406005859375px;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 1115.4266357421875px;
  stroke-dashoffset: 1115.4266357421875px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 1150.325927734375px;
  stroke-dashoffset: 1150.325927734375px;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 1155.228271484375px;
  stroke-dashoffset: 1155.228271484375px;
  animation: line-anim 2s ease forwards 2s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 1174.874267578125px;
  stroke-dashoffset: 1174.874267578125px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 753.6519775390625px;
  stroke-dashoffset: 753.6519775390625px;
  animation: line-anim 2s ease forwards 2.8s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 1633.7017822265625px;
  stroke-dashoffset: 1633.7017822265625px;
  animation: line-anim 2s ease forwards 3.2s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 1496.080810546875px;
  stroke-dashoffset: 1496.080810546875px;
  animation: line-anim 2s ease forwards 3.6s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 1494.249267578125px;
  stroke-dashoffset: 1494.249267578125px;
  animation: line-anim 2s ease forwards 4s;
}
#logo path:nth-child(12) {
  stroke-dasharray: 1520.1102294921875px;
  stroke-dashoffset: 1520.1102294921875px;
  animation: line-anim 2s ease forwards 4.4s;
}
#logo path:nth-child(13) {
  stroke-dasharray: 1496.082275390625px;
  stroke-dashoffset: 1496.082275390625px;
  animation: line-anim 2s ease forwards 4.8s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 1596.119873046875px;
  stroke-dashoffset: 1596.119873046875px;
  animation: line-anim 2s ease forwards 5.2s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 1295.4539794921875px;
  stroke-dashoffset: 1295.4539794921875px;
  animation: line-anim 2s ease forwards 5.6s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 1295.451171875px;
  stroke-dashoffset: 1295.451171875px;
  animation: line-anim 2s ease forwards 6s;
}

/*******************************/
/*       CSS PRINCIPAL         */
/*******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dbcab3;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

main {
  height: 85vh;
  display: flex;
}

footer {
  height: 5vh;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

#socialNetworks {
  /* background-color: rgb(126, 37, 37); */
  width: 50%;
}

#socialNetworks > ul {
  /* background-color: chartreuse; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.socialIcons {
  width: 50px;
  height: auto;
  text-align: center;
}

#copyright {
  /* background-color: chocolate; */
  width: 50%;
  display: flex;
  justify-content: center;
}

#mp4 {
  width: 100%;
  height: 100%;
  display: none;
}

#left-side {
  width: 50%;
  height: 100%;
  /* background-color: teal; */
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: appear 6s ease forwards 8s;
  border-right: 1px solid #343434;
}

#name {
  width: 50%;
  font-family: "Cabin Sketch";
  color: #343434;
  font-size: 4em;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioPictures {
  width: 100%;
  height: auto;
}

#mainPhoto {
  height: 60%;
  width: 50%;
  border-radius: 50%;
}

#site-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: thistle; */
  opacity: 0;
  animation: appear 8s ease forwards 9s;
}

#navigation {
  width: 50%;
  /* background-color: darksalmon; */
}

#section-texte {
  width: 100%;
  height: 85vh;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: cadetblue; */
}

#section-title {
  font-family: "Martel", serif;
  font-size: 3em;
  color: #343434;
  text-align: center;
  /* background-color: darkgoldenrod; */
}

#textes {
  height: 90%;
  font-family: "Martel", serif;
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  margin: 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* this is to remove the scrollbar */
#textes::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.subtitles {
  font-family: "Jacques Francois Shadow", cursive;
  text-decoration: underline;
  margin-top: 35px;
  text-align: center;
}

.paragraphes {
  font-size: 1.5em;
  margin-top: 15px;
  margin-left: 15px;
}

/* Barre de navigation */
.nav-list {
  font-family: "Cabin Sketch";
  font-size: 50px;
  list-style: none;
  /* background-color: tomato; */
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* liens de navigation */
.nav-link {
  text-decoration: none;
  color: #343434;
}

.nav-link:hover {
  color: #0a0a0a;
  transition: ease 0.5s;
}

.nav-list-link:hover {
  transform: scale(1.4);
  transition: ease-in-out 0.6s;
}

/* Structure de la partie Portfolio */
#lecoMusik,
#emmanuelDev,
#emmanuelDevWordpress,
#lithoxoou {
  display: flex;
}

#lecoCapture,
#lecoBio,
#emmanuelDevCapture,
#emmanuelDevWordpressCapture,
#lithoxoouCapture,
#emmanuelDevBio,
#emmanuelDevWordpressBio,
#lithoxoouBio {
  width: 50%;
  height: auto;
  font-family: "Martel", serif;
  font-size: 0.9em;
  margin: 5px;
}

/* Pseudo éléments des liens de navigation */
/* .nav-link::after {
  content: "^";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
  opacity: 0;
} */

/* animation de l'opacité du pseudo élément au survol d'un lien de navigation */
/* .nav-link:hover::after {
  transition: opacity 1s ease;
  opacity: 1;
} */

/* Animations CSS */
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MEDIA QUERIES / RESPONSIVE WEB DESIGN */
@media only screen and (min-device-width: 1251px) and (max-device-width: 1500px) {
  body {
    /* background-color: cadetblue; */
  }
  .nav-list {
    font-size: 40px;
  }

  .paragraphes {
    font-size: 1.25em;
  }

  #section-title {
    margin: 0px;
  }

  #mainPhoto {
    height: 50%;
  }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1250px) {
  body {
    /* background-color: aquamarine; */
  }
  .nav-list {
    font-size: 30px;
  }

  .paragraphes {
    font-size: 1.25em;
  }
  #name {
    font-size: 2.5em;
  }
  #section-texte {
    padding: 0px;
  }

  #textes {
    margin: 0px;
  }
  #section-title {
    font-size: 4em;
    margin: 0px;
  }

  #mainPhoto {
    height: 40%;
    width: 55%;
  }
}

@media only screen and (min-device-width: 451px) and (max-device-width: 1000px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    /* background-color: cadetblue; */
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  #socialNetworks {
    width: 100%;
  }

  #copyright {
    width: 100%;
  }

  #navigation {
    margin: 0px;
    width: 100%;
    /* background-color: cyan; */
  }

  .nav-list {
    font-size: 30px;
    width: 100%;
  }

  .paragraphes {
    font-size: 1.2em;
  }
  #logo {
    width: 450px;
  }
  #left-side {
    display: none;
    width: 0%;
  }

  #site-main {
    width: 100%;
  }
  #name {
    display: none;
    width: 0%;
  }

  #section-title {
    font-size: 4em;
    margin: 0px;
  }

  #mainPhoto {
    display: none;
  }

  #lecoMusik,
  #emmanuelDev,
  #emmanuelDevWordpress,
  #lithoxoou {
    flex-direction: column;
  }

  #lecoCapture,
  #lecoBio,
  #emmanuelDevCapture,
  #emmanuelDevBio,
  #emmanuelDevWordpressCapture,
  #emmanuelDevWordpressBio,
  #lithoxoouCapture,
  #lithoxoouBio {
    width: 100%;
    text-align: center;
  }

  #emmanuelDevBio,
  #lithoxoouBio {
    order: 1;
  }

  #emmanuelDevCapture,
  #lithoxoouCapture {
    order: 2;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 450px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    /* background-color: cadetblue; */
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  #socialNetworks {
    width: 100%;
  }

  #copyright {
    width: 100%;
  }

  #logo {
    width: 280px;
  }

  #mainPhoto {
    display: none;
  }

  #name {
    display: none;
    width: 0%;
  }

  #navigation {
    margin: 0px;
    width: 100%;
    /* background-color: cyan; */
  }

  .nav-list {
    font-size: 20px;
    width: 100%;
  }

  #left-side {
    display: none;
    width: 0px;
  }

  #site-main {
    width: 100%;
    margin: 0px;
  }

  #section-title {
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    /* background-color: coral; */
  }

  #textes {
    padding: 0px;
    margin: 0px;
    /* background-color: cadetblue; */
  }
  #section-texte {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: darkgoldenrod; */
  }

  .paragraphes {
    font-size: 1.1em;
  }

  #copyright {
    font-size: 0.75em;
  }

  #lecoMusik,
  #emmanuelDev,
  #emmanuelDevWordpress,
  #lithoxoou {
    flex-direction: column;
  }

  #lecoCapture,
  #lecoBio,
  #emmanuelDevCapture,
  #emmanuelDevBio,
  #emmanuelDevWordpressCapture,
  #emmanuelDevWordpressBio,
  #lithoxoouCapture,
  #lithoxoouBio {
    width: 100%;
    text-align: center;
  }

  #emmanuelDevBio,
  #lithoxoouBio {
    order: 1;
  }

  #emmanuelDevCapture,
  #lithoxoouCapture {
    order: 2;
  }
}
